<?xml version="1.0" encoding="utf-8"?>
<trade>
  <culture>
    <type>Arabic</type>
    <region>Arabia</region>
	<places>
		<place>
			<hub>Baghdad</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Camel</category>
					<waypoint>Iraqi Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Camel</category>
					<waypoint>Khorasan Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Antioch</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Coastal Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Galatian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Cairo</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Egyptian Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Alexandria</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Coastal Road</waypoint>
				</route>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Karbala</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Najaf</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Jerusalem</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Mecca</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Camel</category>
					<waypoint>Egyptian Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Camel</category>
					<waypoint>Iraqi Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Medina</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Damascus</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Syrian Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Aragonese</type>
    <region>Aragon</region>
	<places>
		<place>
			<hub>Zaragoza</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Tarragona Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Armenian</type>
    <region>Armenia</region>
	<places>
		<place>
			<hub>Ani</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Armenian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Yerevan</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Armenian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Karapet</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Armenian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Rasht</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Armenian Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Arpitan</type>
    <region>Arpitania</region>
	<places>
		<place>
			<hub>Vezelay</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Citeaux</hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Chalon</hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Lyon</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhone Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Besancon</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Aosta</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Asturian</type>
    <region>Asturia</region>
	<places>
		<place>
			<hub>Oviedo</hub>
			<merchant>Emporium</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Atlantic Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Bavarian</type>
    <region>Bavaria</region>
	<places>
		<place>
			<hub>Nuremberg</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Imperial Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Innsbruck</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Imperial Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Bohemian</type>
    <region>Bohemia</region>
	<places>
		<place>
			<hub>Prague</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Breton</type>
    <region>Brittany</region>
	<places>
		<place>
			<hub>Chateaubriant</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Gallic Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Quimper</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Gallic Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Atlantic Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Bulgarian</type>
    <region>Bulgaria</region>
	<places>
		<place>
			<hub>Preslav</hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Tarnovo</hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Ohrid</hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Cantabrian</type>
    <region>Cantabria</region>
	<places>
		<place>
			<hub>Santander</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Atlantic Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Castillian</type>
    <region>Castile</region>
	<places>
		<place>
			<hub>Burgos</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Segovia</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Soria</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Catalan</type>
    <region>Catalonia</region>
	<places>
		<place>
			<hub>Tarragona</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Tarragona Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Croatian</type>
    <region>Croatia</region>
	<places>
		<place>
			<hub>Ragusa</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Danish</type>
    <region>Denmark</region>
	<places>
		<place>
			<hub>Hedeby</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Kobenhavn</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Baltic Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>English</type>
    <region>England</region>
	<places>
		<place>
			<hub>Canterbury</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Old North Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Lincoln</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Old North Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Winchester</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Old North Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>London</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Old North Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Finnish</type>
    <region>Finland</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Flemish</type>
    <region>Flanders</region>
	<places>
		<place>
			<hub>Bruges</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Franconian</type>
    <region>Franconia</region>
	<places>
		<place>
			<hub>Aachen</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Cologne</hub>
			<merchant>Emporium</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhine Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Frankfurt</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhine Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Mainz</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhine Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Frankish</type>
    <region>Francia</region>
	<places>
		<place>
			<hub>Paris</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
				<route>
					<category>River</category>
					<waypoint>River Seine Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Tours</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Gallic Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Poitiers</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Provins</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Calais</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Frisian</type>
    <region>Frisia</region>
	<places>
		<place>
			<hub>Rotterdam</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhine Trade</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Dorestadt</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhine Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Dockum</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Gaelic</type>
    <region>Scotland</region>
	<places>
		<place>
			<hub>Dublin</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Cualu Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Edinburgh</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Old North Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Galician</type>
    <region>Galicia</region>
	<places>
		<place>
			<hub>Santiago</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Georgian</type>
    <region>Georgia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Greek</type>
    <region>Byzantium</region>
	<places>
		<place>
			<hub>Constantinople</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Egnatian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Thessalonica</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Egnatian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Caesarea</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Galatian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Trapezus</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Sebasteia</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Galatian Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Armenian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Smyrna</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Byzantine</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Galatian Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Hungarian</type>
    <region>Hungaria</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Irish</type>
    <region>Ireland</region>
	<places>
		<place>
			<hub>Glendalough</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Cualu Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Leonese</type>
    <region>Leon</region>
	<places>
		<place>
			<hub>Leon</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Silver Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Lithuanian</type>
    <region>Lithuania</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Livonian</type>
    <region>Livonia</region>
	<places>
		<place>
			<hub>Riga</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Baltic Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Lombard</type>
    <region>Lombardy</region>
	<places>
		<place>
			<hub>Venice</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Imperial Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Genoa</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Pisa</hub>
			<merchant>Emporium</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Florence</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Imperial Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Lucca</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Rome</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Imperial Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Frankish Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Mazovian</type>
    <region>Mazovia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Mongolian</type>
    <region>Mongolia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Moorish</type>
    <region>Maghreb</region>
	<places>
		<place>
			<hub>Kairouan</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Tunis</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Sijilmassa</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Marrakesh</hub>
			<merchant>Camel</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Sale</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Maghrebi Pilgrim Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Cadiz</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Atlantic Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Merida</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Silver Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Sevilla</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Silver Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Cordoba</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Cuenca</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Moravian</type>
    <region>Moravia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Navarrese</type>
    <region>Navarre</region>
	<places>
		<place>
			<hub>Pamplona</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Tarragona Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Neapolitan</type>
    <region>Napels</region>
	<places>
		<place>
			<hub>Amalfi</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Norman</type>
    <region>Normandy</region>
	<places>
		<place>
			<hub>Honfleur</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Seine Trade</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Rouen</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Seine Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Norwegian</type>
    <region>Norway</region>
	<places>
		<place>
			<hub>Trondheim</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Bergen</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Occitan</type>
    <region>Occitania</region>
	<places>
		<place>
			<hub>Narbonne</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Italian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Mediterranean Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Aquitanian Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Bordeaux</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Aquitanian Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Atlantic Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Cahors</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Aquitanian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Toulouse</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Flemish</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Aquitanian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Arles</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>River Rhone Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Reshef Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Marseille</hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Persian</type>
    <region>Persia</region>
	<places>
		<place>
			<hub>Qom</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Khorasan Road</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Armenian Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Merv</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Khorasan Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Khiva</hub>
			<merchant>none</merchant>
			<pilgrim>Camel</pilgrim>
			<group>Radhanite</group>
			<routes>
				<route>
					<category>Camel</category>
					<waypoint>Khorasan Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Pictish</type>
    <region>Pictland</region>
	<places>
		<place>
			<hub>Saint Andrews</hub>
			<merchant>none</merchant>
			<pilgrim>Feretrum</pilgrim>
			<group>Norse</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Old North Road</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Polish</type>
    <region>Poland</region>
	<places>
		<place>
			<hub>Krakow</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Portuguese</type>
    <region>Portugal</region>
	<places>
		<place>
			<hub>Porto</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Castillian</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Atlantic Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Prussian</type>
    <region>Prussia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Russian</type>
    <region>Russia</region>
	<places>
		<place>
			<hub>Ladoga</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Varangian</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>Varangian Portage</waypoint>
				</route>
				<route>
					<category>Sail</category>
					<waypoint>Baltic Sea Trade</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Novgorod</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Varangian</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>Varangian Portage</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Kyiv</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Varangian</group>
			<routes>
				<route>
					<category>River</category>
					<waypoint>Varangian Portage</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Royal Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Ruthenian</type>
    <region>Ruthenia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Sardinian</type>
    <region>Sardinia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Saxon</type>
    <region>Saxony</region>
	<places>
		<place>
			<hub>Hamburg</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>North Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Old Salt Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Serbian</type>
    <region>Serbia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Sicilian</type>
    <region>Sicilia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Silesian</type>
    <region>Silesia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Swabian</type>
    <region>Swabia</region>
	<places>
		<place>
			<hub>Augsburg</hub>
			<merchant>Fair</merchant>
			<pilgrim>none</pilgrim>
			<group>Swabian</group>
			<routes>
				<route>
					<category>Horse</category>
					<waypoint>Imperial Road</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Swedish</type>
    <region>Sweden</region>
	<places>
		<place>
			<hub>Visby</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Baltic Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Turkic</type>
    <region>Khazaria</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Wallachian</type>
	 <region>Wallachia</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Welsh</type>
    <region>Wales</region>
	<places>
		<place>
			<hub></hub>
			<merchant></merchant>
			<pilgrim></pilgrim>
			<group></group>
			<routes>
				<route>
					<category></category>
					<waypoint></waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
  <culture>
    <type>Wendish</type>
    <region>Vendland</region>
	<places>
		<place>
			<hub>Lubeck</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Baltic Sea Trade</waypoint>
				</route>
				<route>
					<category>Horse</category>
					<waypoint>Old Salt Road</waypoint>
				</route>
			</routes>
		</place>
		<place>
			<hub>Danzig</hub>
			<merchant>Emporium</merchant>
			<pilgrim>none</pilgrim>
			<group>Hanseatic</group>
			<routes>
				<route>
					<category>Sail</category>
					<waypoint>Baltic Sea Trade</waypoint>
				</route>
			</routes>
		</place>
	</places>
  </culture>
</trade>